
<div id="terminal_input">
	<div id="terminal_inner">
		<%= @previous_lines %>
		<form action="/" method="post">
			<p>$
			<input type="text" name="terminal_input" class="cufon" autofocus>
		</form></p>
	</div>
</div>